.title{
    font-family: var(--montserrat);
    font-weight: 600;
    &__link{
        text-decoration: none;
    }
    &_center{
        text-align: center;
    }
}
h1, h2, h3, h4, h5, h6{
    &.title{
        margin-bottom: var(--mb, 0.6em);
    }
}