.menu{
    font-size: 14px;
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-weight: 600;
    &__list{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__link{
        transition: calc(var(--transition) / 2);
        &:hover{
            color: rgb(var(--blue));
        }
    }
}