:root{
    --segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --opensans: 'Open Sans';
    --montserrat: 'Montserrat';
    --blue: #3366CC;
    --grey: #787878;
    --grey-50: #78787878;
    --dark: #000710;
    --dark-50: #00071078;
    --lite: #fcfeff;
    --white: #ffffff;
    --black: #000000;
    --transition: 300ms;
}
*, *::after, *::before{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
    font-family: var(--opensans);
    font-weight: 200;
    height: 100%;
    color: var(--dark);
    background-color: var(--lite);
}
section{
    padding-block: 2rem;
}
button{
    cursor: pointer;
}
ul[class]{
    list-style: none;
    padding: 0;
    margin: 0;
}
a[class]{
    color: inherit;
    text-decoration: none;
}
p[class]{
    margin: 0;
    & + p[class]{
        margin-top: 1em;
    }
}
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class]{
    margin: 0;
    &:has( + p),
    &:has( + ul),
    &:has( + ol),
    &:has( + .title){
        margin-bottom: 0.5em;
    }
}