:root{
    --segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --opensans: 'Open Sans';
    --montserrat: 'Montserrat';
    --grey: #787878;
    --grey-50: #78787878;
    --dark: #000710;
    --dark-50: #00071078;
    --lite: #fcfeff;
    --white: #ffffff;
    --black: #000000;
    --transition: 1000ms;
}
*, *::after, *::before{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
    font-family: var(--opensans);
    height: 100%;
    color: var(--dark);
    background-color: var(--lite);
}
section{
    padding-block: 2rem;
}
button{
    cursor: pointer;
}
ul[class]{
    list-style: none;
    padding: 0;
    margin: 0;
}
a[class]{
    color: inherit;
    text-decoration: none;
}